<div id="contact-wrapper" style="background-image: url(<%= image_path "pp.JPG" %>);">
  <div class="main-container">
    <div class="text-container">
      <div class="row">
        <div class="col-xs-12 col-md-6">
          <h1>Contacter moi.</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-md-5">
          <p>Vous avez besoin d'un coup de main pour le design de votre site, ou quelques photos ou envie de me rejoindre sur quelques projets. Vous avez tout ce qui faut ici pour contacter ! </p>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <%= link_to "Mail", "#", class: "btn-mini" %>
          <%= link_to "Linkedin", "https://www.linkedin.com/in/marc-antoine-de-morel-7779b760/", class: "btn-mini" %>
        </div>
      </div>
    </div>
  </div>
</div>
