<div id="photographie-wrapper" style="background-image: url(<%= image_path "photographie.jpg" %>);">
  <div class="main-container">
    <div class="text-container">
      <div class="row">
        <div class="col-xs-12 col-md-6">
          <h1>Photographies.</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-md-5">
          <p>Récupérant le vieux réflex de mon père, j'ai commencé à faire quelques photos. Toujours à titre personnel, emportant mon bon vieux Nikon à peu près partout. C'est en montagne ou en bateau que je préfère capturer ces instants. Mais il m'arrive de faire des photos d'évenements. <br> Si vous cherchez à faire des photos, et que le projet me parle : "En avant !"</p>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <%= link_to "Instagram", "https://www.instagram.com/marcopique/", class: "btn-mini" %>
        </div>
      </div>
    </div>
  </div>
</div>
