<div id="projets-wrapper" style="background-image: url(<%= image_path "projets.JPG" %>);">
  <div class="main-container">
    <div class="text-container">
      <div class="row">
        <div class="col-xs-12 col-md-6">
          <h1>Projets.</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-md-5">
          <p>Quelques projets rêvés, parfois réalisés !
            <li>Traverser l'Atlantique à la voile</li>
            <li>Designer et construire une tiny-house</li>
            <li>Faire du ski de randonnée</li>
            <li>Se mettre à l'alpinisme</li>
            <li>Courir un trail de 40km</li>
            <li>Faire une expo photo</li>
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <%= link_to "Carnet d'Aventures", "#", class: "btn-mini" %>
        </div>
      </div>
    </div>
  </div>
</div>
