<div id="web-wrapper" style="background-image: url(<%= image_path "web.jpg" %>);">
  <div class="main-container">
    <div class="text-container">
      <div class="row">
        <div class="col-xs-12 col-md-6">
          <h1>UX/UI Design. <br>Front-end.</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-md-5">
          <p>Pour moi, sketch et l'éditeur de texte sont comme des outils posés sur l'établi. Chaque composant est comme la pièce d'un meuble en bois. Ligne de code après ligne de code, comme un rabot repassé sur le bois, l'interface prend forme. Car les interfaces sont des objets modelants notre quotidien, elle se doivent d'être bien pensé, bien adapté à l'utilisateur. Par l'UX design, je cherce à créer au delà du Beau, des objets utiles aux hommes.</p>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <%= link_to "Dribbble", "https://dribbble.com/mdemorel", class: "btn-mini" %>
          <%= link_to "Github", "https://github.com/mdemorel", class: "btn-mini" %>
        </div>
      </div>
    </div>
  </div>
</div>
